.vscode/
.stfolder/
build/
deng
filemanager.o
main.o
objectshandler.o
objloader.o
queuemanager.o
renderer.o
camera.o
dengmath.o
events.o
swapchaindetails.o
textureloader.o
window.o
timer.o
rgbbitmap.log
matobject.log
object.log
src/helloworld.cpp
src/helloworld
dependencies/lib/debug/