@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital@1&display=swap');

/* Navigation bar styling */
nav.desktop {
    width: 150px;
    background-color: #A5D2FF;
    display: table-cell;
    flex-direction: column;
    overflow: auto;
    margin-top: auto;
    margin-bottom: auto;
    border-right: 1px solid black;
}

nav table { 
    border-collapse: collapse; 
    border-style: hidden;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

nav td {
    width: 150px;
    padding: 4px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 0;
    border-right: 0;
    text-align: center; 
}

nav.desktop a { font-size: 18px; }

nav.desktop .links {
    display: flex;
    flex-direction: column;
}

/* Mobile nav bar properties */
nav.mobile {
    width: 0;
    border: none;
    background-color: #DFFFFF;
    display: none;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
}

nav.mobile a { 
    color: black;
    font-size: 20px; 
    text-decoration: none;
    font-weight: 900;
}

nav.mobile a:hover {
    text-decoration: underline;
}

nav.mobile .links {
    position: fixed;
    z-index: 1;
    background-color: #A5D2FF;
    flex-direction: column;
    border-right: 1px solid black;
    width: 33%;
    height: 100%;
}

nav.mobile .links button {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: 5px;
    border: 1px double black;
    background-color: #eb8e8e;
    font-size: 20px;
    font-weight: 900;
}

nav.mobile .links button:hover {
    cursor: pointer;
}

.hm_icon {
    background-image: url("res/hm_icon.png");
    width: 45px;
    height: 45px;
    background-size: 45px 45px;
}

.hm_icon:hover {
    cursor: pointer;
}

/*nav.mobile a { */
    /*font-weight: 900;*/
    /*text-decoration: none;*/
/*}*/


/* Main content container */
.content_container {
    overflow: auto;
}


/* Main div */
.main {
    display: table;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
}


/* Universal text paragraph class */
.paragraph {
    margin: 0 15px 15px;
    padding: 0 3%;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.paragraph h1 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 30px;
    font-weight: 900;
}

.paragraph h2 {
    text-align: left;
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: 900;
}

.paragraph h3 {
    text-align: left;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 900;
}

.paragraph p, b { font-size: 19px; }


/* Image resource horizontal container */
.row_res {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.row_res img {
    width: 100%;
    height: auto;
}

/* Image container specifications */
.img_cont_small {
    width: 300px;
    margin-right: 10px;
}

.img_cont_small h3 {
    text-align: center;
    font-size: 18px;
}

.img_cont_small p { font-size: 14px; }

.img_cont_medium {
    width: 400px;
    margin-right: 20px;
}

.img_cont_medium h3 {
    text-align: center;
    font-size: 22px;
}

.img_cont_medium p { font-size: 16px; }

.img_cont_big {
    width: 500px;
    margin-right: 30px;
}

.img_cont_big h3 {
    text-align: center;
    font-size: 26px;
}

.img_cont_big p { font-size: 18px; }

/* Info box container div */
.info_box_container {
    position: relative;
    margin: 0 15px 15px;

    display: flex;
    flex-direction: row;
}

.info_box_container p, li {
    font-size: 20px;
}

.info_box_container ul {
    left: 0;
    right: 0;
    position: relative;
    margin: 0, auto;
}

.info_box_container h2 {
    text-align: center;
    font-size: 24px;
}

.info_box_container table, td, tr, th {
    margin: 0 auto;
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 17px;
    text-align: center;
}

.info_box_container td, th { 
    width: 20%;
    height: 30px; 
}
.info_box_container th { background-color: #00ffff; }


.right_info_box {
    width: 50%;
    position: relative;
    padding: 0 3%;
    border-bottom: 1px solid black;
}

.left_info_box {
    width: 50%;
    position: relative;
    padding: 0 3%;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}


/* Documentation header styling */
.doc_header {
    position: relative;
    border-bottom: 1px solid black;
    text-align: center;
}

.doc_search {
    position: relative;
    width: 50%;
    left: 0;
    margin: auto;
    padding-bottom: 10px;
}


/* Documentation header search part */
.doc_search input[type="text"] {
    width: 74%;
}

.doc_search input[type="submit"] {
    width: 24%;
}

/* Documentation reference classes */
.references {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
}

.ref_cont {
    margin-bottom: 10px;
    margin-right: 10px;
    max-width: auto;
    display: flex;
    border: 1px dashed black;
    flex-direction: column;
}

.ref_cont a {
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 22px;
    margin: 0 10px 5px;
}


.ref_cont a:hover {
    text-decoration: underline;
}

.ref_cont a:visited {
    color: #777777;
}

/* Main information div specifiers */
.intro { visibility: visible; }

/* Markdown info container */
.markdown {
    display: none;
    margin: 5px;
    border: 1px dotted black;
    padding: 5px;
}

.markdown h1 {
    font-size: 32px;
    padding-bottom: 20px;
    border-bottom: 1px solid #D8D8D8;
}

.markdown h2 {
    font-size: 28px;
    padding-bottom: 28px;
    border-bottom: 1px solid #D8D8D8;
}

.markdown h3 {
    font-size: 24px;
    border: none;
}

.markdown p {
    font-size: 18px;
}



code {
    background-color: #D8D8D8;
    color: black;
    padding: 0 5px;
    font-size: 16px;
    border: 1px solid black;
}

pre {
    background-color: #D8D8D8;
    color: black;
    padding: 5px;
    font-size: 16px;
    border: 1px solid black;
}

pre code {
    border: none;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    margin: 0;
    background-color: #DFFFFF;
}


/* Media properties */
@media (min-width: 800px) {
    nav.mobile { display: none; }
    nav.desktop { display: table-cell; }
}

@media (max-width: 800px) {
    nav.mobile { display: table-cell; }
    nav.mobile .links { display: none; }
    nav.mobile .hm_icon { display: block; }

    nav.desktop { display: none; } 
}
